@model ELTPViewModel.EditUserPasswordViewModel

@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container CP-Padding">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6 RegisterContainer">
            <h3>Change Password</h3>
            <form action="/account/changepassword" method="post" class="needs-validation" novalidate="novalidate">
                @Html.AntiForgeryToken()
                <div class="form-row FormBorder">
                    <div class="form-group col-sm-12">

                        <label class="LabelReg" for="txtEmail">Email:</label>
                        <span class="form-text">@Model.Email</span>
                        @Html.HiddenFor(temp => temp.Email)

                        <label class="LabelReg" for="txtPassword">Password:</label>
                        <input type="password" class="form-control" id="txtPassword" placeholder="Password" name="Password" required="required" minlength="6" oninput="form.ConfirmPassword.pattern = escapeRegExp(this.value)" />
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Password must contain at least 6 characters.
                        </div>

                        <label class="LabelReg" for="txtPassword">Confirm Password:</label><br />
                        <input type="password" class="form-control" id="txtConfirmPassword" placeholder="Confirm Password" name="ConfirmPassword" required="required" />
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                        <div class="invalid-feedback">
                            Password and Confirm Password do not match.
                        </div>

                        <button type="submit" class="btn btn-primary CPButton">Update Password</button>

                    </div>

                </div>
            </form>
        </div>
    </div>

</div>
<div class="col-3"></div>

<script>
    $("a[href='/account/changepassword']").attr("id", "active");

    $(document).on("submit", ".needs-validation", validate);
    $(".needs-validation input").blur(validate);
    function validate(event) {
        if ($(".needs-validation")[0].checkValidity() == false) {
            event.preventDefault();
        }
        $(".needs-validation")[0].classList.add("was-validated");
    }

    function escapeRegExp(str) {
        return str.replace(/[\-\[\]\/\{\}\(\)\*\+\?\.\\\^\$\|]/g, "\\$&");
    }
</script>