@{
    ViewBag.Title = "About";
}

<div class="container">
    <div class="row  AboutContainer">
        <div class="col-6">
            <h2>@ViewBag.Title</h2>
            <p style="font-size: 20px;">
                MovieMania is an admin portal for administrators to be able to update latest movies information whereby
                they can View, Add, Edit and Delete movie listings.
            </p>
        </div>
        <div class="col-4">
            <div><img class="AdminMovies" src="../../images/movies/exec_movies2.jpg" alt="Admin Movies" width="450" height="300"></div>
        </div>
        </div>
</div>

