@{
    ViewBag.Title = "Contact";
}

<div class="ContactContainer">
    <p class="Ctitle is-4">CONTACT</p>
    <div class="row">
        <div class="col-md-7">
            <div class="mapouter">
                <div class="gmap_canvas"><iframe width="600" height="300" id="gmap_canvas" src="https://maps.google.com/maps?q=honeywell%20building&t=&z=13&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.embedgooglemap.net"></a></div>
                <style>

                    .mapouter {
                        position: relative;
                        text-align: right;
                        height: 300px;
                        width: 600px;
                    }

                    .gmap_canvas {
                        overflow: hidden;
                        background: none !important;
                        height: 500px;
                        width: 600px;
                    }
                </style>
            </div>
        </div>
        <div class="col-md-5">
            <h4>WHERE TO FIND US: </h4>
            <address>
                Honeywell Building<br />
                17 Changi Business Park Central 1,<br />
                Singapore 486073<br />
                <abbr title="Phone">P: 6417 7201</abbr>
            </address>
            <h4>NEAREST MRT:</h4>
            <p>Expo MRT</p>
            <h4>NEAREST BUSSTOP:</h4>
            <p>Honeywell Bdlg Busstop</p>
        </div>
    </div>
</div>
<address>
    <strong>Support:</strong>   <a href="mailto:Support@techmahindra.com">Support@tehmahindra.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@techmahindra.com">Marketing@techmahindra.com</a>
</address>