@*Create a movies library and pull it from ELTPViewModel>MovieViewModel*@

@{
    ViewBag.Title = "Home Page";
}


<div class="container">
    @Html.Partial("Carousel")
</div>

<div class="jumbotron">
    <div>
        <h1>Movie Mania</h1>
        <p class="lead">Featuring the newest and upcoming movies of 2020, with highly reknowned critiques giving their reviews.</p>
        <p><a href="../home/Movies" class="btn btn-primary btn-lg">See all movies &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Join Us Today</h2>
        <p>
            Join us to start exploring the world of latest and old movies.
        </p>
        <p><a href="/account/register" class="btn btn-primary btn-lg">Register with us &raquo;</a></p>

    </div>
    <div class="col-md-6">
        <h2>Already have an account?</h2>
        <p>
            Login and start viewing the different types of movies we have in store for you!
        </p>
        <p><a href="/account/login" class="btn btn-primary btn-lg">Click here &raquo;</a></p>
    </div>
</div>
<div class="row contactUs">
    <div class="col-md-12">
        <p class="Ctitle is-4">CONTACT</p>
        <p class="description"> Where To Find Us</p>
    </div>
</div>

<footer>
</footer>