/*Nav Bar*/
.navbar{
    margin: 0rem;
    padding-left: 5rem;
}
/*Navbar main logo*/
.navbar-brand{
    font-size:1.5rem;
}
.navbar-header a {
    text-decoration: none;
}
/*Sub navbar*/
.nav-item {
    padding-left: 2rem;
    font-weight: bold;
    font-size: 1.2rem;
}
.navbar-nav a:hover {
    color: black;
}
.navbar-nav a {
    text-decoration:solid;
    color:#878787;
}
/*Body*/
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}


/*Buttons*/
.active {
    color: yellow ActiveBorder;
}


.dropdown-menu a:hover {
    color: black;
}

.hidden {
    display: none;
}

.login_btn a{
    float: right;
    color: black;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

